.geral-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.products_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 150px 0px 150px;
  font-size: 32px;
  font-weight: bold;
  padding: 30px;
  color: #464646;
} 

.product-button {
  width: 182px;
  height: 51px;
  background: none;
  border: solid 1px var(--azul-destaque);
  color: var(--azul-destaque);
  text-transform: uppercase;
  transition: 0.5s;
}

.product-button:hover {
  background-color: var(--azul-destaque);
  color: var(--texto-destaque);
}

.products-section {
  height: 100%;
	padding: 0px 150px 0px 150px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 9px;
}

.produto {
	display: flex;
	background: #f6f6f6;
	flex-direction: column;
	margin-bottom: 32px;
	border: 1px solid #d5cecc;
	-webkit-box-shadow: 43px 44px 46px -22px rgba(235,235,235,1);
	-moz-box-shadow: 43px 44px 46px -22px rgba(235,235,235,1);
	box-shadow: 43px 44px 46px -22px rgba(235,235,235,1);
	padding: 1em;
	border-radius: 10px;
	transition: 1s;
  }
  .produto:hover {
	transform: scale(1.1);
	background: linear-gradient(160deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.05) 100%)
  }
  .product-image {
    border-radius: 15px;
    }
.preco {
  color: #464646;
  font-weight: bold;
  font-size: 16px;
}

img {
  width: 176px;
  height: 174px;
} 

.container {
  position: relative;
}

.container .editImage {
  position: absolute;
  top: 30px;
  right: 15px;
  background: #00000050;
	border: 1px solid #d5cecc;
	padding: 0.2em;
	border-radius: 10px;
}
.container .editImage:hover{
  background: #8cb26b50;
}
.container .deleteImage {
  position: absolute;
  top: 30px;
  right: 50px;
  background: #00000050;
	border: 1px solid #d5cecc;
	padding: 0.2em;
	border-radius: 10px;
}
.container .deleteImage:hover{
  background: #ba333350;
}

.editImage,
.deleteImage {
  width: 24px;
  height: 24px;
}

.buttonDelete,
.buttonEdit {
  background-color: transparent;
  border-color: transparent;
}

h1,p {
  margin: 8px 0px 8px 0px;
}

@media screen and (max-width: 768px) {
  .products-section {
    padding: 0px 0px 0px 0px;
    justify-content: center;
  }
}